In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv('../Bryan/driver_info.csv')
df

             Driver Nationality          Team  Age  Salary
0    Max Verstappen       Dutch      Red Bull   25  $55.0M
1    Lewis Hamilton     British      Mercedes   38  $35.0M
2   Charles Leclerc  Monegasque       Ferrari   25  $24.0M
3      Lando Norris     British       McLaren   23  $20.0M
4      Carlos Sainz     Spanish       Ferrari   28  $12.0M
5    George Russell     British      Mercedes   25   $8.0M
6      Esteban Ocon      French        Alpine   26   $6.0M
7   Fernando Alonso     Spanish  Aston Martin   41   $5.0M
8      Pierre Gasly      French        Alpine   27   $5.0M
9   Kevin Magnussen      Danish          Haas   30   $5.0M
10     Lance Stroll    Canadian  Aston Martin   24   $2.0M
11      Guanyu Zhou     Chinese    Alfa Romeo   23   $2.0M
12    Nyck de Vries       Dutch    AlphaTauri   28   $2.0M
13    Oscar Piastri  Australian       McLaren   21   $2.0M
14     Yuki Tsunoda    Japanese    AlphaTauri   22   $1.0M
15   Logan Sargeant    American      Williams   22   $1.0M
16     Sergio Perez     Mexican      Red Bull   33  $10.0M
17  Valterri Bottas     Finnish    Alfa Romeo   33  $10.0M
18       Alex Albon        Thai      Williams   25   $3.0M
19  Nico Hulkenburg      German    AlphaTauri   35   $1.0M

In [8]:
# convert Salary column to string
df['Salary'] = df['Salary'].astype(str)
df

             Driver Nationality          Team  Age Salary
0    Max Verstappen       Dutch      Red Bull   25  55.0M
1    Lewis Hamilton     British      Mercedes   38  35.0M
2   Charles Leclerc  Monegasque       Ferrari   25  24.0M
3      Lando Norris     British       McLaren   23  20.0M
4      Carlos Sainz     Spanish       Ferrari   28  12.0M
5    George Russell     British      Mercedes   25   8.0M
6      Esteban Ocon      French        Alpine   26   6.0M
7   Fernando Alonso     Spanish  Aston Martin   41   5.0M
8      Pierre Gasly      French        Alpine   27   5.0M
9   Kevin Magnussen      Danish          Haas   30   5.0M
10     Lance Stroll    Canadian  Aston Martin   24   2.0M
11      Guanyu Zhou     Chinese    Alfa Romeo   23   2.0M
12    Nyck de Vries       Dutch    AlphaTauri   28   2.0M
13    Oscar Piastri  Australian       McLaren   21   2.0M
14     Yuki Tsunoda    Japanese    AlphaTauri   22   1.0M
15   Logan Sargeant    American      Williams   22   1.0M
16     Sergio Perez     Mexican      Red Bull   33  10.0M
17  Valterri Bottas     Finnish    Alfa Romeo   33  10.0M
18       Alex Albon        Thai      Williams   25   3.0M
19  Nico Hulkenburg      German    AlphaTauri   35   1.0M

In [9]:
# drop the M from the Salary column
df['Salary'] = df['Salary'].str.replace('M', '')
df

             Driver Nationality          Team  Age Salary
0    Max Verstappen       Dutch      Red Bull   25   55.0
1    Lewis Hamilton     British      Mercedes   38   35.0
2   Charles Leclerc  Monegasque       Ferrari   25   24.0
3      Lando Norris     British       McLaren   23   20.0
4      Carlos Sainz     Spanish       Ferrari   28   12.0
5    George Russell     British      Mercedes   25    8.0
6      Esteban Ocon      French        Alpine   26    6.0
7   Fernando Alonso     Spanish  Aston Martin   41    5.0
8      Pierre Gasly      French        Alpine   27    5.0
9   Kevin Magnussen      Danish          Haas   30    5.0
10     Lance Stroll    Canadian  Aston Martin   24    2.0
11      Guanyu Zhou     Chinese    Alfa Romeo   23    2.0
12    Nyck de Vries       Dutch    AlphaTauri   28    2.0
13    Oscar Piastri  Australian       McLaren   21    2.0
14     Yuki Tsunoda    Japanese    AlphaTauri   22    1.0
15   Logan Sargeant    American      Williams   22    1.0
16     Sergio Perez     Mexican      Red Bull   33   10.0
17  Valterri Bottas     Finnish    Alfa Romeo   33   10.0
18       Alex Albon        Thai      Williams   25    3.0
19  Nico Hulkenburg      German    AlphaTauri   35    1.0

In [10]:
# convert Salary column to float
df['Salary'] = df['Salary'].astype(float)
df

             Driver Nationality          Team  Age  Salary
0    Max Verstappen       Dutch      Red Bull   25    55.0
1    Lewis Hamilton     British      Mercedes   38    35.0
2   Charles Leclerc  Monegasque       Ferrari   25    24.0
3      Lando Norris     British       McLaren   23    20.0
4      Carlos Sainz     Spanish       Ferrari   28    12.0
5    George Russell     British      Mercedes   25     8.0
6      Esteban Ocon      French        Alpine   26     6.0
7   Fernando Alonso     Spanish  Aston Martin   41     5.0
8      Pierre Gasly      French        Alpine   27     5.0
9   Kevin Magnussen      Danish          Haas   30     5.0
10     Lance Stroll    Canadian  Aston Martin   24     2.0
11      Guanyu Zhou     Chinese    Alfa Romeo   23     2.0
12    Nyck de Vries       Dutch    AlphaTauri   28     2.0
13    Oscar Piastri  Australian       McLaren   21     2.0
14     Yuki Tsunoda    Japanese    AlphaTauri   22     1.0
15   Logan Sargeant    American      Williams   22     1.0
16     Sergio Perez     Mexican      Red Bull   33    10.0
17  Valterri Bottas     Finnish    Alfa Romeo   33    10.0
18       Alex Albon        Thai      Williams   25     3.0
19  Nico Hulkenburg      German    AlphaTauri   35     1.0

In [11]:
# arrange table by Salary descending
df = df.sort_values(by=['Salary'], ascending=False)
df

             Driver Nationality          Team  Age  Salary
0    Max Verstappen       Dutch      Red Bull   25    55.0
1    Lewis Hamilton     British      Mercedes   38    35.0
2   Charles Leclerc  Monegasque       Ferrari   25    24.0
3      Lando Norris     British       McLaren   23    20.0
4      Carlos Sainz     Spanish       Ferrari   28    12.0
16     Sergio Perez     Mexican      Red Bull   33    10.0
17  Valterri Bottas     Finnish    Alfa Romeo   33    10.0
5    George Russell     British      Mercedes   25     8.0
6      Esteban Ocon      French        Alpine   26     6.0
7   Fernando Alonso     Spanish  Aston Martin   41     5.0
8      Pierre Gasly      French        Alpine   27     5.0
9   Kevin Magnussen      Danish          Haas   30     5.0
18       Alex Albon        Thai      Williams   25     3.0
10     Lance Stroll    Canadian  Aston Martin   24     2.0
13    Oscar Piastri  Australian       McLaren   21     2.0
12    Nyck de Vries       Dutch    AlphaTauri   28     2.0
11      Guanyu Zhou     Chinese    Alfa Romeo   23     2.0
14     Yuki Tsunoda    Japanese    AlphaTauri   22     1.0
15   Logan Sargeant    American      Williams   22     1.0
19  Nico Hulkenburg      German    AlphaTauri   35     1.0

In [12]:
# add $ to the beginning of the Salary column and M to the end
df['Salary'] = '$' + df['Salary'].astype(str) + 'M'
df

             Driver Nationality          Team  Age  Salary
0    Max Verstappen       Dutch      Red Bull   25  $55.0M
1    Lewis Hamilton     British      Mercedes   38  $35.0M
2   Charles Leclerc  Monegasque       Ferrari   25  $24.0M
3      Lando Norris     British       McLaren   23  $20.0M
4      Carlos Sainz     Spanish       Ferrari   28  $12.0M
16     Sergio Perez     Mexican      Red Bull   33  $10.0M
17  Valterri Bottas     Finnish    Alfa Romeo   33  $10.0M
5    George Russell     British      Mercedes   25   $8.0M
6      Esteban Ocon      French        Alpine   26   $6.0M
7   Fernando Alonso     Spanish  Aston Martin   41   $5.0M
8      Pierre Gasly      French        Alpine   27   $5.0M
9   Kevin Magnussen      Danish          Haas   30   $5.0M
18       Alex Albon        Thai      Williams   25   $3.0M
10     Lance Stroll    Canadian  Aston Martin   24   $2.0M
13    Oscar Piastri  Australian       McLaren   21   $2.0M
12    Nyck de Vries       Dutch    AlphaTauri   28   $2.0M
11      Guanyu Zhou     Chinese    Alfa Romeo   23   $2.0M
14     Yuki Tsunoda    Japanese    AlphaTauri   22   $1.0M
15   Logan Sargeant    American      Williams   22   $1.0M
19  Nico Hulkenburg      German    AlphaTauri   35   $1.0M

In [13]:
# save to csv file
df.to_csv('../Bryan/driver_info.csv', index=False)